.Code {
  display: inline-block;
  padding: var(--space-xxs) var(--space-xs);
  margin: var(--space-xxs);

  background-color: #000;
  color: var(--colors-code-a);

  font-family: monospace;
  border-radius: var(--radius-s);
}

.Code.inline {
  display: inline-block;
}
