.Layout {
  display: flex;
  height: 100%;
}

.Layout aside {
  flex-shrink: 0;
}

.LayoutScroll {
  flex-grow: 1;

  overflow-x: hidden;
  overflow-y: auto;
}

.LayoutContent {
  max-width: 1000px;

  margin: 0 auto;
  padding: var(--space-m);
}
