@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600&display=swap');

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 3rem;

  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;

  --colors-grayscale-white: #fcfcfc;
  --colors-grayscale-a: #f6f6f6;
  --colors-grayscale-b: #eaeaea;
  --colors-grayscale-c: #bababa;
  --colors-grayscale-d: #999;
  --colors-grayscale-e: #777;
  --colors-grayscale-f: #333;
  --colors-grayscale-g: #111;
  --colors-grayscale-black: #0f0f0f;

  --colors-accent-a: #9d48ba;

  --colors-code-a: #fda848;

  --colors-exercise-a: #deedff;
  --colors-exercise-b: #3063a1;
  --colors-exercise-c: #113767;

  --font-normal: 400;
  --font-bold: 600;
}

html,
body {
  height: 100%;

  margin: 0;

  color: var(--colors-grayscale-black);
  background-color: var(--colors-grayscale-white);
}

body > * {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-bold);
}

h1 {
  padding-top: var(--space-m);
  margin-bottom: var(--space-l);

  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  padding-top: var(--space-s);
  margin-bottom: var(--space-m);

  font-size: 2rem;
  line-height: 2rem;
}

a,
a:active,
a:hover,
a:visited {
  color: var(--colors-accent-a);
}

/* For NavLink active styling */
a.active {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-grayscale-white: #0f0f0f;
    --colors-grayscale-a: #111;
    --colors-grayscale-b: #333;
    --colors-grayscale-c: #777;
    --colors-grayscale-d: #999;
    --colors-grayscale-e: #bababa;
    --colors-grayscale-f: #eaeaea;
    --colors-grayscale-g: #f6f6f6;
    --colors-grayscale-black: #fcfcfc;

    --colors-accent-a: #c069dd;

    --colors-code-a: #fda848;

    --colors-exercise-a: #416188;
    --colors-exercise-b: #b5d1f7;
    --colors-exercise-c: #e0eeff;
  }
}
